<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xuecheng.learning.mapper.XcChooseCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xuecheng.learning.model.po.XcChooseCourse">
        <id column="id" property="id" />
        <result column="course_id" property="courseId" />
        <result column="course_name" property="courseName" />
        <result column="user_id" property="userId" />
        <result column="company_id" property="companyId" />
        <result column="order_type" property="orderType" />
        <result column="create_date" property="createDate" />
        <result column="valid_days" property="validDays" />
        <result column="status" property="status" />
        <result column="validtime_start" property="validtimeStart" />
        <result column="validtime_end" property="validtimeEnd" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, course_id, course_name, user_id, company_id, order_type, create_date, valid_days, status, validtime_start, validtime_end, remarks
    </sql>

</mapper>
